{
  "extends": "sbs/script",
  "parserOptions": {
    "project": ["./tsconfig.json", "./packages/*/tsconfig.json"]
  },
  "settings": {
    "import/resolver": {
      "workspaces": {
        "extensions": [".mjs", ".js", ".ts", ".tsx", ".json", ".css"],
        "sources": {
          "@amfa-team/shared": ["./packages/shared/src"],
          "@amfa-team/types": ["./packages/types/src"],
          "@amfa-team/react-service-template/dist/index.css": [
            "./packages/react/src/index.css"
          ],
          "@amfa-team/react-service-template": ["./packages/react/src"]
        }
      }
    }
  }
}
