{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-css-modules"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": true,
    "plugin/declaration-block-no-ignored-properties": true,
    "css-modules/composed-class-names": true,
    "color-no-invalid-hex": true
  }
}
