.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settingContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.settingBubble {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #efebeb;
  border-radius: 100%;
}

.settingVideoBubble {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: blueviolet;
  overflow: hidden;
}
.settingDriversBubble {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: blueviolet;
}

.closeIcon {
  height: 24px;
  width: 24px;
  background-size: contain;
}

.camIcon {
  position: relative;
  top: -35px;
}

.joinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join {
  color: #ffffff;
  background-color: #0ee997;
  width: 400px;
  height: 50px;
  border: 0;
  position: relative;
  top: 20px;
  border-radius: 5px;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}
