@value mediaQueries: '../../../theme/mediaQueries.module.css';
@value smartphonePortrait, smartphoneLandscape from mediaQueries;

/* 5/6 PI --> x = -sqrt(3)/2 ; y = 1/2 */
@value v5Pi6Top: 25%;
@value v5Pi6Left: 6.7%;

.root {
  opacity: 0;
}

.control {
  position: absolute;
  cursor: pointer;
  color: #fff;
  background-color: #ff7d70;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  border: 1px solid transparent;
}

@media not (smartphoneportrait) and not (smartphonelandscape) {
  .control {
    width: 40px;
    height: 40px;
    transform: translate(-20px, -20px);
    box-shadow: 0px 0px 0px 0px #c7c7c7, 0px 0px 0px 6px #fdfdfd,
      0px 0px 0px 0px #dfdfdf, 0px 0px 5px 6px #dfdfdf;

    top: v5Pi6Top;
    right: v5Pi6Left;
  }
}

@media smartphonePortrait, smartphoneLandscape {
  .control {
    width: 20px;
    height: 20px;
    transform: translate(-10px, -10px);
    box-shadow: 0px 0px 0px 0px #c7c7c7, 0px 0px 0px 1px #fdfdfd,
      0px 0px 0px 0px #dfdfdf, 0px 0px 1px 2px #dfdfdf;
    top: 25px;
    left: 25px;
  }

  .isOdd {
    left: auto;
    /* uses 5 because of transform */
    right: 5px;
  }

  .control i {
    font-size: 26px !important;
  }
}

.control:nth-child(1) {
  z-index: 98;
}

.control:nth-child(2) {
  z-index: 97;
}

.control:nth-child(3) {
  z-index: 96;
}

.control:nth-child(4) {
  z-index: 95;
}

.control > svg {
  width: 100%;
  height: 100%;
}

.toggle {
  /* needed to be clickable */
  z-index: 100;
}
