.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.participantsContainer {
  width: 650px;
  height: 650px;
  display: grid;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px;
  padding: 15px;
  border-radius: 50px;
}

.participant {
  border-radius: 100%;
  box-shadow: 0px 0px 0px 1px #c7c7c7, 0px 0px 0px 10px #fdfdfd,
    0px 0px 0px 11px #dfdfdf, 0px 0px 10px 9px #dfdfdf;
  background: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.mainMenuIcons {
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  margin-left: 100px;
  margin-top: 0px;
  font-size: 20px;
  color: #fff;
  width: 40px;
  height: 40px !important;
  border-radius: 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 99;
  background-color: #ececec;
  box-shadow: 0px 0px 0px 0px #c7c7c7, 0px 0px 0px 6px #fdfdfd,
    0px 0px 0px 0px #dfdfdf, 0px 0px 5px 6px #dfdfdf;
}

.list {
  position: absolute;
  margin-top: -42px;
}

.dNone {
  opacity: 0;
}

.iconM {
  transform: rotate(225deg) translate(130px) rotate(-225deg);
  background-color: #e3aba5;
}

.iconCtrl {
  transform: rotate(225deg) translate(130px) rotate(-225deg);
}
.iconPrfle {
  transform: rotate(225deg) translate(130px) rotate(-225deg);
}
.iconAbout {
  transform: rotate(225deg) translate(130px) rotate(-225deg);
}
.iconHome {
  transform: rotate(225deg) translate(130px) rotate(-225deg);
}

.iconCtrlOpen {
  transform: rotate(255deg) translate(140px) rotate(-255deg);
}
.iconPrfleOpen {
  transform: rotate(285deg) translate(145px) rotate(-285deg);
}
.iconAboutOpen {
  transform: rotate(315deg) translate(160px) rotate(-315deg);
}
.iconHomeOpen {
  transform: rotate(340deg) translate(170px) rotate(-345deg);
}

.emptySeatContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 180%;
  margin-left: -40%;
}

.emptySeatInnerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.emptySeatAvatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ececec;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.shuffleCTA {
  user-select: none;
  background: #ff623b;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  cursor: pointer;
}
