.container {
  position: relative;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px;
  padding: 80px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shuffleCTA {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  user-select: none;
  background: #ff623b;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.shuffleDisabled {
  cursor: progress;
}
