.container {
  left: 0;
  right: 0;
  bottom: 0;
  height: 128px;
  display: flex;
  padding: 0 1.43em;
  z-index: 10;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.btn {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  margin: 32px;
  border-radius: 100%;
  padding: 14px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.mic {
  background-color: #0ee997;
}

.cam {
  background-color: #fa7d6d;
}
